name: Cargo Build

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_x86_64:
    name: build rust x86_64
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: RUSTFLAGS="--cfg=io_uring_skip_arch_check" cargo build --verbose --features compress

  build_i686:
    name: build rust i686
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        toolchain:
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++-multilib gcc-multilib build-essential pkg-config libclang-dev
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }} && rustup target add i686-unknown-linux-gnu
      - run: RUSTFLAGS="--cfg=io_uring_skip_arch_check" cargo build --verbose --target i686-unknown-linux-gnu --features compress
